.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 32px;
  margin: 24px;
}

.title {
  display: flex;
}

aside {
  width: 150px;
}

.context {
  display: flex;
  height: 100%;
}

main {
  flex: 1;
}
